* {
    margin: 0;
    padding: 0;
}
:root {
    --main-color: #677DB7;
    --background-color: white; 
    --text-color: black;
}
.topBar {
    width: 100%;
    height: 50px;
    background-color: var(--main-color);
    text-align: center;
    padding-top: 25px;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--text-color);
}
.leftBar {
    color: var(--text-color);
    display:flex;
    flex-direction: column;
    background-color: var(--background-color);
    padding-left: 10vh;
    gap: 30px;
    font-size: 18px;
    height: 100vh;
    padding-top: 10vh;
}

.content {
    background-color: var(--background-color);
    padding-top: 10vh;
    padding-left: 10vh;
    color: var(--text-color);
}
#main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    overflow: hidden;
}
.hide {
    display: none !important;
}
.addTaskModal{
    background-color: rgba(10,10,10,0.7);
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height:100vh;
    width:100vw;
    overflow: hidden;
    display: grid;
    place-items: center;
}

#addTaskModalForm {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    padding: 25px;
    border-radius: 15px;


}
.taskModalTitle {
    font-size: 20px;
    padding-bottom: 10px;
    text-align: center;
}
#addTaskModalSubmit{
    margin-top: 10px;
}
.taskBlock {
    background-color: var(--main-color);
    max-width: 200px;
    margin-top: 15px;
    padding: 15px;
    border-radius: 15px;
}