* {
    margin: 0;
    padding: 0;
}
:root {
}
.topBar {
    width: 100%;
    height: 50px;
    background-color: #677DB7;
    text-align: center;
    padding-top: 25px;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
.leftBar {
    color: white;
    display:flex;
    flex-direction: column;
    background-color: #191308;
    padding-left: 10vh;
    gap: 30px;
    font-size: 18px;
    height: 100vh;
    padding-top: 10vh;
}

.content {
    background-color: #322A26;
    padding-top: 10vh;
    padding-left: 10vh;
    color: white;
}
#main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    overflow: hidden;
}
.hide {
    display: none !important;
}
.addTaskModal{
    background-color: rgba(10,10,10,0.7);
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height:100vh;
    width:100vw;
    overflow: hidden;
    display: grid;
    place-items: center;
}

#addTaskModalForm {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    padding: 25px;


}
/*
.topBar{
    width: 100%;
    height: 50px;
    background-color: aqua;
}
.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.leftBar {
    background-color: lightyellow;
}
.content {
    background-color: lightgreen;
}
*/